.manageCenter {
    $bg-color: rgb(245, 248, 252);
    background: white;
    padding: 0 30px;
    padding-top: 100px;
    .main {
        background: $bg-color;
        .el-menu {
            border-right: none;
            .el-menu-item.is-active {
                background-color: $bg-color !important;
            }
            .manager {
                box-sizing: border-box;
                background: #5eadc7;
                padding: 10px 30px;
                color: #fff;
                display: flex;
                flex-direction: row;
                justify-items: center;
                align-items: center;
                img {
                    width: 100%;
                    border-radius: 50%;
                    border: 1px solid #fff;
                }
                .username {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    height: 25px;
                }
            }
        }
    }
}