.manageCenter {
    background: rgb(245, 248, 252);
    padding-top: 60px;
    .manager {
        background: rgb(84, 127, 184);
        padding: 10px 30px;
        color: #fff;
        img {
            width: 50px;
            border-radius: 50%;
            border: 1px solid #fff;
            vertical-align: middle;
            margin-right: 20px;
        }
    }
}