* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(139, 136, 136);
    font-size: 14px;
    overflow-x: hidden;
}

.footer {
    background: rgb(239, 240, 240);
}


/* .main {
    margin: 10px auto;
} */

.row {
    margin: 80px 0;
}

.progress {
    height: 10px;
    margin-bottom: 10px;
}


/* 金额榜 */

.rank {
    height: 350px;
    /* border: 1px solid #000; */
}

#moneyTop {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

h3 {
    color: black;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 20px;
}

h4 {
    color: rgb(83, 81, 81);
    font-weight: 550;
    margin: 15px 0;
}

.money,
.overMoney {
    font-size: 18px;
    font-weight: 600;
}

.textBox {
    height: 80px;
    overflow: hidden;
}

.order {
    border-left: 1px solid rgb(226, 223, 223);
}

.sum {
    letter-spacing: 1px;
}

.order li:not(first) {
    padding-left: 20px;
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(177, 171, 171);
}

.order li:hover {
    /* border-left: 5px solid black;*/
    color: black;
    box-shadow: -5px 0px 0px black;
}

h5 {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.headImg {
    width: 20px;
    border-radius: 10px;
    margin-right: 10px;
}


/* 创意榜 */

.idea {
    height: 90%;
}

.ideaTop {
    padding: 20px 0;
    height: 100%;
    /* border-top: 1px solid rgb(226, 223, 223);
    border-bottom: 1px solid rgb(226, 223, 223); */
    /* display: -webkit-box; */
    /*这个必须要有*/
    /* -webkit-box-orient: vertical; */
    /* 默认横向划分  vertical 为纵向划分*/
}

.ideaTop>div {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    -webkit-box-flex: 1;
    /* height: 20%;
    line-height: 40px; */
}

.ideaTop>div>div {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ideaTop i {
    font-size: 14px;
    /* letter-spacing: 1px; */
    position: absolute;
    right: 0;
}

.ideaTop i>span {
    margin-left: 4px;
}


/* 在线项目 */

.item-display {
    padding: 0
}

.item-header {
    border-bottom: 1px solid rgb(226, 223, 223);
}

.item-header a {
    color: rgb(41, 67, 122);
    font-size: 16px;
    position: relative;
    top: 10px;
}

.item {
    width: 23%;
    float: left;
    margin: 20px 10px 0 10px;
}

.item:hover {
    border-color: #6A6A6A;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.137);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.137);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.137);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transform: scale(1.01);
}

.item>div {
    padding: 10px;
}

.itemImg {
    width: 100%;
}

.fa-play {
    margin-left: 5px;
}


/* 热门话题 */

.asider-img {
    height: 150px;
}

.hot-topic {
    margin-top: 40px;
}

.hot-image {
    margin: 20px 0;
    padding: 0;
}

.fa-refresh {
    margin-right: 5px;
}

.symbol {
    margin: 0 3px;
}

.fun img {
    width: 70px;
    border-radius: 50%;
}

.fun {
    padding-top: 20px;
}

.funName {
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(58, 55, 55);
    font-size: 16px;
    font-weight: 600;
}

.px {
    height: 1px;
    width: 20%;
    margin: 15px auto;
    background: rgba(192, 190, 190, 0.699);
}

.fun .intro {
    color: rgb(66, 63, 63);
}

.fun button {
    width: 100px;
    height: 40px;
    background: rgb(79, 184, 149);
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}


/* 动态 */

.SHeadBox {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.SHeadBox>div {
    margin-top: 10px;
}

.one {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(222, 224, 224);
}

.SHeadBox>div>a,
.bottomBar .icons a,
.comment .pull-right a {
    text-decoration: none;
    color: rgb(145, 142, 142);
}

.SHeadBox img {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}

.content,
.bottomBar .icons {
    margin-top: 10px;
    margin-left: 30px;
}

.content p {
    font-size: 16px;
    color: rgb(44, 42, 42);
}

.bottomBar .icons a {
    margin-right: 20px;
}

.bottomBar .icons span {
    margin-left: 5px;
}

.comments {
    padding: 10px 0;
    margin: 30px 40px;
    background: rgba(243, 246, 248, 0.623);
}

.comments img {
    width: 100px;
}

img.media-object {
    width: 30px;
    border-radius: 50%;
}

.media-heading {
    font-size: 16px;
    color: rgb(65, 76, 107);
    font-weight: 500;
}

.comment .pull-right :first-child {
    margin-right: 10px;
}

.comment .pull-right span {
    margin-left: 5px;
}

.comment p {
    color: black;
}

a.lookMore {
    color: rgb(65, 76, 107);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
}

img.comHead {
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.curComment {
    padding: 10px;
    resize: none;
    max-height: none;
    overflow-y: hidden;
}

.addInput {
    position: relative;
    left: -65px;
    top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addInput>div {
    width: 18px;
    overflow: hidden;
    position: relative;
}

.addImage img {
    margin: 20px 10px;
}

.uploaderBox {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 0px;
    /* opacity: 0; */
}

.addInput>div>i {
    font-size: 16px;
}

.send {
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
}