.container {
    padding: 60px 0;
    background: rgb(237, 241, 243);
    color: white;
    .wrap {
        width: 80%;
        margin: 40px auto;
        background: #ffffff;
        // padding: 30px 0;
        position: relative;
        padding-left: 220px;
        .sideBar {
            width: 200px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            .personMenu {
                box-sizing: border-box;
                padding-top: 20px;
                height: 100%;
                .el-menu-vertical-demo:not(.el-menu--collapse) {
                    width: 200px;
                    min-height: 400px;
                }
                .el-menu-item i {
                    color: #fff;
                }
                /deep/ .el-radio-button__inner {
                    background: none;
                    border: none;
                    color: white;
                }
                .personMsg {
                    // padding: 20px;
                    text-align: center;
                    img {
                        width: 50%;
                        border-radius: 50%;
                        border: 2px solid #ffffff;
                        margin-top: 20px;
                    }
                }
            }
            +.el-col {
                margin: 40px 0;
                padding-top: 60px;
                border-top: 1px solid #eceaea;
                position: relative;
                .el-form {
                    margin-bottom: 50px;
                    position: relative;
                    .el-form-item:last-child {
                        position: absolute;
                        right: 0;
                        bottom: -80px;
                    }
                }
                &::after {
                    content: attr(data-content);
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 18px;
                    width: 7rem;
                    padding: 0 1rem;
                    overflow: hidden;
                    text-align: right;
                    color: rgba(255, 255, 255, .9);
                    background: linear-gradient(45deg, transparent 0%, transparent 30%, #e5645e 30%, #e5645e 100%)
                }
                .changeHeadImg {
                    text-align: center;
                    .headImg {
                        background: #000;
                        font-size: 0;
                        img {
                            width: 100%;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.6;
                                filter: alpha(opacity=60);
                            }
                        }
                        +div {
                            color: rgb(129, 125, 125);
                            margin-top: 10px;
                            a {
                                text-decoration: none;
                                color: black;
                                font-weight: 600;
                                display: block;
                            }
                            >div {
                                font-size: 14px;
                                display: inline-block;
                                &:first-child {
                                    padding-right: 20px;
                                    margin-right: 20px;
                                    border-right: 1px solid rgb(233, 230, 230);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}