<!DOCTYPE html>
<html>

<head>
    <title>众筹</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/icon.png" />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normal.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/echarts.min.js"></script>
    <style>
        .page4 h2 {
            margin: auto !important;
            position: absolute !important;
            top: 0 !important;
            left: 0;
            bottom: 0;
            right: 0;
            height: 80px;
            transform: none;
            transition: all 3s;
        }
        
        .ani {
            transform: scale(2) rotate(360deg) !important;
        }
    </style>

    <script src="js/jquery.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fuild">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#"><img class="icon" src="img/icon.png" alt="icon">众筹</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav items">
                    <li><a href="#">发现项目</a></li>
                    <li><a href="#">社区</a></li>
                    <li><a href="#contact">发布项目</a></li>
                    <li><a href="#about">个人中心</a></li>
                    <li><a href="#contact">管理员中心</a></li>
                </ul>
            </div>
            <div class="head-right">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
                            <div class="input-group-addon"><img id="search" src="img/search.ico" alt=""></div>
                        </div>
                    </div>
                </form>
                <div>
                    <a href="#">登录</a>
                    <span>丨</span>
                    <a href="#">注册</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- <div style="text-align:center;clear:both">
        <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
        <script src="/follow.js" type="text/javascript"></script>
    </div> -->
    <iframe frameborder="0" scrolling="no" src="index2.html" width="100%" height="500px"></iframe>
    <div class="main container">
        <div class="row rank">
            <div class="col-sm-8">
                <h3>24小时金额榜</h3>
                <div id="moneyTop" class="col-sm-12">
                    <ul class="order pull-left">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <div class="topItems pull-right">
                        <div class="topItem">
                            <img class="col-sm-6" src="img/1.png" alt="">
                            <div class="topText col-sm-6">
                                <h5>标题1</h5>
                                <p><img class="headImg" src="img/head.jpg" />发起人</p>
                                <p class="textBox">文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本</p>
                                <div class="topProgress">
                                    <div class="clearfix">
                                        <span class="money pull-left text-primary">￥15223</span>
                                        <span class="overMoney pull-right">108.34%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                    <span class="sum">1545支持者·606评论</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 idea">
                <h3>近日资金流动</h3>
                <div id="moneyEchart" class="col-sm-12 ideaTop">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix item-header">
                    <h3 class="pull-left">在线项目</h3>
                    <a href="#" class="pull-right">查看更多<i class="fa fa-play"></i></a>
                </div>
                <div class="item-display col-sm-12">
                    <div class="item">
                        <img class="itemImg" src="img/1.png" alt="">
                        <h5>奇幻冒险解谜RPG</h5>
                        <p><img class="headImg" src="img/head.jpg" />发起人</p>
                        <div class="topProgress">
                            <div class="clearfix">
                                <span class="money pull-left text-primary">￥15223</span>
                                <span class="overMoney pull-right">108.34%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <span class="sum">1545支持者·606评论</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="clearfix item-header">
                    <h3 class="pull-left">动态</h3>
                    <a href="#" class="pull-right">查看更多<i class="fa fa-play"></i></a>
                </div>
                <div class="allSpeak">
                    <div class="one clearfix">
                        <div class="SHeadBox">
                            <a href=""><img src="img/head.jpg" alt=""></a>
                            <div>
                                <a href=""><span class="funName">豹子家的钓钓</span></a>
                                <a href="">
                                    <p>今天08:16 · 发布动态</p>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <a href="">
                                <p class="col-sm-12">展商名单和展位图公布，开票啦</p>
                            </a>
                            <img class="col-sm-12" src="img/2.jpg" alt="">
                        </div>
                        <div class="bottomBar">
                            <div class="icons col-sm-12">
                                <a href=""><i class="fa fa-share"><span>分享</span></i></a>
                                <a href=""><i class="fa fa-comments"><span>1条评论</span></i></a>
                                <a href=""><i class="fa fa-thumbs-up"><span>12</span><span>赞</span></i></a>
                            </div>
                            <div class="comments col-sm-11">
                                <div class="allCom">
                                    <div class="media comment col-sm-12">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="img/head.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <a class="media-heading">Media heading</a>
                                                <span>·</span>
                                                <span>昨天11:11</span>
                                                <span class="pull-right">
                                                                <a href=""><i class="fa fa-comment"></i>
                                                        </a>
                                                        <a href=""><i class="fa fa-thumbs-up"><span>2</span></i>
                                                </a>
                                                </span>
                                            </div>
                                            <p>评论评论评论评论评论评论评论评论评论评论</p>
                                            <div class="media comment">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="img/head.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <a class="media-heading">Media heading</a>
                                                        <span>·</span>
                                                        <span>昨天11:11</span>
                                                        <span class="pull-right">
                                                                            <a href=""><i class="fa fa-comment"></i>
                                                                    </a>
                                                                    <a href=""><i class="fa fa-thumbs-up"><span>2</span></i>
                                                        </a>
                                                        </span>
                                                    </div>
                                                    <p>评论评论评论评论评论评论评论评论评论评论</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media comment col-sm-12">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="img/head.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <a class="media-heading">Media heading</a>
                                                <span>·</span>
                                                <span>昨天11:11</span>
                                                <span class="pull-right">
                                                                    <a href=""><i class="fa fa-comment"></i>
                                                            </a>
                                                            <a href=""><i class="fa fa-thumbs-up"><span>2</span></i>
                                                </a>
                                                </span>
                                            </div>
                                            <p>评论评论评论评论评论评论评论评论评论评论</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="col-sm-12 lookMore text-center">查看全部5条评论 <i class="fa fa-play"></i></a>
                                <div class="comInput">
                                    <div class="col-sm-12">
                                        <img src="img/head.jpg" class="comHead pull-left" alt="">
                                        <!-- <input type="text" class="form-control col-sm-10" id="curComment" name="curComment"> -->
                                        <textarea name="" id="" class="col-sm-10 curComment" rows="3"></textarea>
                                        <div class="addInput">
                                            <div>
                                                <i class="glyphicon glyphicon-picture"></i>
                                                <div class="uploaderBox"></div>
                                            </div>
                                            <span class="send">评论</span>
                                        </div>
                                    </div>
                                    <div class="addImage">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one clearfix">
                        <div class="SHeadBox">
                            <a href=""><img src="img/head.jpg" alt=""></a>
                            <div>
                                <a href=""><span class="funName">豹子家的钓钓</span></a>
                                <a href="">
                                    <p>今天08:16 · 发布动态</p>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <a href="">
                                <p class="col-sm-12">展商名单和展位图公布，开票啦</p>
                            </a>
                            <img class="col-sm-12" src="img/2.jpg" alt="">
                        </div>
                        <div class="bottomBar">
                            <div class="icons col-sm-12">
                                <a href=""><i class="fa fa-share"><span>分享</span></i></a>
                                <a href=""><i class="fa fa-comments"><span>1条评论</span></i></a>
                                <a href=""><i class="fa fa-thumbs-up"><span>12</span><span>赞</span></i></a>
                            </div>
                            <div class="comments col-sm-11">
                                <div class="allCom">
                                    <div class="media comment col-sm-12">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="img/head.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <a class="media-heading">Media heading</a>
                                                <span>·</span>
                                                <span>昨天11:11</span>
                                                <span class="pull-right">
                                                                    <a href=""><i class="fa fa-comment"></i>
                                                            </a>
                                                            <a href=""><i class="fa fa-thumbs-up"><span>2</span></i>
                                                </a>
                                                </span>
                                            </div>
                                            <p>评论评论评论评论评论评论评论评论评论评论</p>
                                            <div class="media comment">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="img/head.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <a class="media-heading">Media heading</a>
                                                        <span>·</span>
                                                        <span>昨天11:11</span>
                                                        <span class="pull-right">
                                                                                <a href=""><i class="fa fa-comment"></i>
                                                                        </a>
                                                                        <a href=""><i class="fa fa-thumbs-up"><span>2</span></i>
                                                        </a>
                                                        </span>
                                                    </div>
                                                    <p>评论评论评论评论评论评论评论评论评论评论</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media comment col-sm-12">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="img/head.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <a class="media-heading">Media heading</a>
                                                <span>·</span>
                                                <span>昨天11:11</span>
                                                <span class="pull-right">
                                                                        <a href=""><i class="fa fa-comment"></i>
                                                                </a>
                                                                <a href=""><i class="fa fa-thumbs-up"><span>2</span></i>
                                                </a>
                                                </span>
                                            </div>
                                            <p>评论评论评论评论评论评论评论评论评论评论</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="col-sm-12 lookMore text-center">查看全部5条评论 <i class="fa fa-play"></i></a>
                                <div class="comInput">
                                    <div class="col-sm-12">
                                        <img src="img/head.jpg" class="comHead pull-left" alt="">
                                        <!-- <input type="text" class="form-control col-sm-10" id="curComment" name="curComment"> -->
                                        <textarea name="" id="" class="col-sm-10 curComment" rows="3"></textarea>
                                        <div class="addInput">
                                            <div>
                                                <i class="glyphicon glyphicon-picture"></i>
                                                <div class="uploaderBox"></div>
                                            </div>
                                            <span class="send">评论</span>
                                        </div>
                                    </div>
                                    <div class="addImage">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="center-block btn btn-default">查看更多</button>
                </div>
            </div>
            <div class="col-sm-4">
                <a href=""><img class="col-sm-12 asider-img" src="img/1.png" alt=""></a>
                <div class="col-sm-12">
                    <div class="clearfix item-header hot-topic">
                        <h3 class="pull-left">热门话题</h3>
                        <a href="#" class="pull-right"><i class="fa fa-refresh"></i>换一换</a>
                    </div>
                    <a href=""><img class="col-sm-12 asider-img hot-image" src="img/1.png" alt=""></a>
                    <a href="#">
                        <h4><span class="symbol">#</span>哪些你当时听起来挺有意思，但现在却觉得很土的流行语？<span class="symbol">#</span></h4>
                    </a>
                    <span class="sum">2人讨论·0个赞·进行中</span>
                </div>
                <div class="col-sm-12 text-center">
                    <div class="clearfix item-header hot-topic">
                        <h3 class="pull-left">有趣的人</h3>
                        <a href="#" class="pull-right"><i class="fa fa-refresh"></i>换一换</a>
                    </div>
                    <div class="fun">
                        <a href="">
                            <img src="img/head.jpg" alt="">
                            <p class="funName">田宇</p>
                        </a>
                        <p class="sum">17篇动态·120人已关注</p>
                        <div class="px"></div>
                        <p class="intro">他画的《百鬼夜行》不一般</p>
                        <button>关注</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container text-center">
            <p>Copyright &copy; 2018 众筹平台 <i class="fa fa-heart"></i> <span>田宇丨严兆丨熊小预</span></p>
        </div>
    </div>
</body>
<script src="js/index.js"></script>
<script>
    $(".uploaderBox").on("click", function(e) {
        var newFileInput = "<input id='uploaderInput' class='hidden' type='file' name='name' accept='image/*' multiple />";
        var newImage = "<img id='preview' />";
        $(this).parent().parent().parent().next().append($(newFileInput));
        $(this).parent().parent().parent().next().append($(newImage));
        $("#uploaderInput").bind("change", function(e) {
            //onFileUploaded(e); //预览等操作
            var _this = $(this);
            if (_this.length === 0) {
                $('#preview').attr("src", "");
                return;
            }
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#preview").attr("src", e.target.result);
                _this.next().removeAttr("id");
            }
            reader.readAsDataURL(this.files[0]);
            _this.removeAttr("id");
        });
        $("#uploaderInput").click();
    });
</script>

</html>